@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;600;700&display=swap');


body {
    margin: 0;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 18px;
    background-color: #786D5F;
}

/*--------------- Header */

header {
    padding: 35px 0 20px;
}

.wrap {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: #4183c4;
    text-decoration: none;
}

header img {
    opacity: .3;
}


header ul.links {

    float: right;
    padding: 0;
    margin: 2px 0 0;

}

header ul.links > li {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    list-style-type: none;
}

header ul.links > li a {
    color: #fff;
}