@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fff;
}

/*--------------- Header */

.nav-bar {
    width: 100%;
    background-color: #78716C;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.logo {
    display: inline-block;
}

.logo img {
    padding: 5px;
    vertical-align: middle;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-bottom: 0rem;
    padding-left: 0px;
}

.nav-item a {
    display: inline-block;
    padding: 1px 15px;
    text-decoration: none;
    color: #fff;
}

.nav-item a:hover {
    opacity: .9;
    color: #e64d00;
    transition: 0.5s ease-in-out;
}

/*--------------- Bootstrap Dropdown Button + Items (Took me awhile to find te active conditions)*/

.btn {
    display: flex;
}

.dropdown-item {
    color: #78716C;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #e64d00;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary.focus,
.btn-secondary:focus {
    background-color: #e64d00;
    border-color: #e64d00;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle
.dropdown-item {
    background-color: #e64d00;
    border-color: #e64d00;
}
/*--------------- Media Screen Size Adjustments */

@media screen and (max-width:943px){
        .nav-item{
            font-size: 16px;
        }
}

@media screen and (max-width:700px){
        .nav-item{
            font-size: 12px;
        }
}