@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

/*--------------- Header */

header {
    margin: 0;
}

.wrap {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.links {
    list-style-type: none;
    float: right;
}
header ul.links > li {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    list-style-type: none;
}